<!DOCTYPE html>
<html>
  <head>
    <title><%= cat1 %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= cat1 %></h1>
    <p>Welcome to <%= cat1 %></p>
  </body>
</html>
